@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/*inicio*/
.inicio{
    background-color: black
}

.more{
    font-family: 'Koulen', cursive;
    text-align: center;
    color: white
}

/*populares*/
.populares{
    background-color: black;
}

.CARDS{
    margin-top: 50px;
    justify-content: space-between;
    border: solid white 4px;
    border-radius: 10%;
}

.masv1{
    font-family: 'Koulen', cursive;
    text-align: center;
    color: white;
    margin-top: 40px;
}